html[theme=dark] {
    --theme-background: #111b27;
    --theme-color: #ffffff;
    --theme-color-blue: #abd3ff;
    --card-color: #222b38;
    --input-color: #212731;
    --theme-color-lightblue: #abd3ff;
}